.featured {
  display: flex;
  flex: 1;
  padding: 10px;
  justify-content: space-between;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 100px;
  position: relative;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  font-size: 14px;
  color: rgb(160, 160, 160);
}
.counter {
  font-size: 28px;
  font-weight: 300;
}
.link {
  width: max-content;
  font-size: 12px;
  border-bottom: 1px solid gray;
}

.percentage {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.positive {
  color: green;
}
.negative {
  color: red;
}
.icon {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  align-self: flex-end;
}
/* .featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.featuredTitle {
  font-size: 20px;
}

.featuredMoneyContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.featuredMoney {
  font-size: 30px;
  font-weight: 600;
}

.featuredMoneyRate {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.featuredIcon {
  font-size: 14px;
  margin-left: 5px;
  color: green;
}

.featuredIcon.negative {
  color: red;
}

.featuredSub {
  font-size: 15px;
  color: gray;
} */
